%table{class: "table table-striped table-condensed table-hover"}
  %thead
    %tr
      %th= t(:name)
      %th
      %th{colspan: 2}
  %tbody
    - @game_systems.each do |game_system|
      %tr
        %td= game_system.name
        %td= link_to t(:edit), edit_game_system_path(game_system), class:"btn btn-info pull-right"
        %td= link_to t(:delete), game_system, method: :delete, class:"btn btn-danger pull-right"