= form_for journal, role: "form" do |f|
  .form-group
    %fieldset
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "Journal Name"
      %div
        = f.submit "Save", class: "btn btn-primary"