= form_for [@campaign, chapter], role: "form", class: "form-inline" do |f|
  .form-group
    = f.text_field :name, class: "form-control", style: "width:35%", placeholder: "Chapter Name"
    = f.submit "Save", class: "btn btn-primary"