= form_for [@campaign, Chapter.new], role: "form", class: "form-inline" do |f|
	.form-group
		= f.hidden_field :campaign_id, value: campaign.id
		%tr
			%td
				%div.pull-left= f.text_field :name, class: "form-control", placeholder: "Name"
				%div.pullright= f.submit "New Chapter", class: "btn btn-primary"
			%td
			%td